images:
  cache: docker.io/library/redis:7.4
  etymoapiservice: ghcr.io/granth7/etymo/etymo-apiservice:0.0.1-230
  etymowebfrontend: ghcr.io/granth7/etymo/etymo-webfrontend:0.0.1-230
  aspiredashboard: mcr.microsoft.com/dotnet/aspire-dashboard:8.0

expose:
  webfrontend:
    ingress:
      enabled: false
      ingressClassName: internal
      annotations: {}
      labels: {}
      path: /
      pathType: Prefix
      hosts: ["etymo.your.domain"]
secrets:
  connectionStrings:
    existingPostgres:
      name:"secret-name"
      key: "secret-key"

