@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="navbar bg-base-100">
            <div class="navbar-start">
                <a href="/home" class="icon btn" />
            </div>
            <div class="navbar-center">
                <h2 class="grid-item text-2xl font-bold col-start-2 col-span-5 ">etymo (testing)</h2>
            </div>
            <div class="navbar-end">
                <LoginDisplay />
            </div>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
